<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
 autoReload="true"
 throwExceptions="true"
 internalLogLevel="Info" internalLogFile="C:\temp\nlog-internal-console.log">
	<variable name="logDir" value="C:\Logs\Console"/>
	<variable name="logRoll" value="${date:format=yyyyHHdd}"/>
	<targets async="true">
		<target name='jsonFile' type='File' fileName='c:\Logs\Web\PORECT\${shortdate}.log'
               archiveEvery="Day"
               archiveNumbering="Date"
               archiveDateFormat="yyyyMMdd">
			<layout type='JsonLayout'>
				<attribute name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="modul" layout="${var:module}"/>
				<attribute name="machine" layout="${machinename}"/>
				<attribute name="endpoint" layout="${var:endpoint}" encode="false"/>
				<attribute name="position" layout="${var:position}"/>
				<attribute name="message" layout="${var:message}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="jsonFile" />
	</rules>
</nlog>